<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <title>Find a city in NA</title>
</head>
<body>
    <div class="container" id="main">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">How to find a city in North America</h3>
                </div>
                <div class="panel-body">
                    <form class="form" v-on:submit.prevent="addRequest">
                        <div class="form-group">
                            <label for="select-country">Select the country</label>
                            <select class="form-control" id="select-country" v-model="rqCountry">
                                <option v-for="country in countryList">{{country}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="select-state">Input the state</label>
                            <input class="form-control" id="select-state" v-model="rqState">
                        </div>
                        <div class="form-group">
                            <label for="select-city">Input the city</label>
                            <input class="form-control" id="select-city" v-model="rqCity">
                        </div>
                        <button class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-md-12" >
                <h3>The list of cities:</h3>
                <ul>
                    <li v-for="rq in requestList" :key="rq.id" class="cityAbbr">
                        <p>{{rq.country}}</p>
                        <p>{{rq.state}}</p>
                        <p>{{rq.city}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>