<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Simple Todo</title>
	<script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
</head>

<body>
	<div id="app">
		<h1>{{message}}</h1>
    <input v-model="newTodoInput"/>
    <!--<input v-model="newTodoInput.line2"/>-->
    <button @click="addTodo">+ Add</button>
		<ul>
			<li v-for="todo in todos">
				<!--<p>{{todo.line1}}</p><p>{{todo.line2}}</p>-->
                {{todo}}
			</li>
		</ul>
	</div>
	<script>
    new Vue({
      el: '#app',
      data: {
        message: "Simple Todos",
        todos: [],
        newTodoInput: ''
      },
      methods:{
        addTodo: function(){
            console.log(this.newTodoInput);
            if(this.newTodoInput){
                this.todos.push(this.newTodoInput)
                this.newTodoInput = ''
            }
        }
      }
    })
  </script>
</body>

</html>