.panel-primary {
    margin-top: 2vw;
}

ul {
    list-style: none;
}

.cityResponce {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}

.cityResponce:hover {
    color: #FFFA00;
}

#spanel {
    height: 60%;
    padding-top: 10%;
    padding-bottom: 5%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-control {
    margin-bottom: 50px;
}

.x-delete {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 100;
    border-radius: 25%;
    width: 19px;
    height: 19px;
    background-color: red;
    color: white;
    text-align: center;
}

.x-delete:hover {
    background-color: pink;
}

.input-group-addon {
    width: 35%;
}

.input-group {
    width: 100%;
}

body {
    background: url(./src/map.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#btn-submit {
    width: 100%;
    background-color: #FFFA00;
    color: #4277FB;
}

#btn-submit:hover {
    color: red
}

#found {
    margin-left: 8%;
    text-transform: uppercase;
}